/*
Font: Noto Serif
*/
@font-face {
  font-family: 'Noto Serif';
  src: url('./noto-serif/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  src: url('./noto-serif/NotoSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Serif';
  font-weight: bold;
  src: url('./noto-serif/NotoSerif-Bold.ttf') format('truetype');
}

/*
Font: Noto Sans
*/
@font-face {
  font-family: 'Noto Sans';
  src: url('./noto-sans/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  src: url('./noto-sans/NotoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  src: url('./noto-sans/NotoSans-Bold.ttf') format('truetype');
}
