:host {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  flex: 1;

  .decision-weigher-section {
    border: var(--section-border);
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background: var(--section-background);
  }

  section.dw-config-area-form-section {
    fieldset {
      border: none;
      display: flex;
      margin-top: 8px;

      &:nth-child(1) {
        margin-top: 0;
      }

      > label {
        margin-right: 8px;
      }

      > input {
        flex: 1;
        min-width: 0;
        width: 100%;
      }
    }
  }

  section.dw-config-area-ddz-section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .dw-config-area-drag-drop-zone {
      flex: 1;
      min-height: 100px;
      background: var(--drop-zone-background);
      border: var(--drop-zone-border);
      border-radius: var(--drop-zone-border-radius);
    }
  }


}
