<div class="decision-weigher-weight-scale">

  <div class="weight-scale-header">

    <div class="weight-scale-surfaces">
      <div class="weight-scale-surface">
        <div class="weight-scale-left-dropzone"></div>
        <div class="weight-scale-surface-bowl"></div>
        <div class="weight-scale-surface-bowl-holder">
          <app-screw class="weight-scale-bar-screw"></app-screw>
        </div>
      </div>
      <div style="flex: 1;"></div>
      <div class="weight-scale-surface">
        <div class="weight-scale-right-dropzone"></div>
        <div class="weight-scale-surface-bowl"></div>
        <div class="weight-scale-surface-bowl-holder">
          <app-screw class="weight-scale-bar-screw"></app-screw>
        </div>
      </div>
    </div>

    <div class="weight-scale-bar">
      <app-screw class="weight-scale-bar-screw"></app-screw>
    </div>
  </div>

  <app-decision-weigher-vertical-post></app-decision-weigher-vertical-post>
  <app-decision-weigher-footer></app-decision-weigher-footer>
</div>
