:host {
  width: 100%;
  max-width: 300px;
}

.config-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;

  .spin-button {
  }

  .choices-textarea {
    margin-top: 1rem;
    width: 100%;
  }
}


