header {
  padding: 1rem;
  display: flex;
  align-items: start;
  justify-content: space-between;

  > h1 {
    text-align: center;
    color: white;
    font-family: 'Noto Serif', sans-serif;
  }
}


