* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Noto Sans', arial, sans-serif;
}

html {
  background-image: url("./assets/colored-polygons-bg.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

:root {
  --header-height: 4rem;
  --shadow-color: rgba(50, 50, 0, 0.5);
}

@import 'styles/wsui-btn';
@import 'styles/wsui-textarea';
