/*
Imports
*/
@import 'assets/libs/wsui/wsui-btn';
@import 'assets/libs/wsui/wsui-textarea';
@import 'assets/libs/wsui/wsui-input';
@import 'assets/fonts/fonts';

:root {
  --shadow-color: rgba(50, 50, 0, 0.5);
  --box-shadow-3d: 0 1px 1px rgba(000, 000, 000, 0.5), inset 1px 2px 0 rgba(255, 255, 255, 0.4);

  --header-height: 4rem;

  --section-background: #ffffff;
  --section-border: 1px solid #aaaaaa;
  --section-border-radius: 8px;

  --drop-zone-background: #e0e0e0;
  --drop-zone-border: 1px dashed #aaaaaa;
  --drop-zone-border-radius: 4px;

  --surface-drop-zone-border-color: #bbbbbb;
  --surface-drop-zone-border-color-transparent: #bbbbbb00;

  --decision-weigher-transition: all 2.0s;
}

/*
Styles
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Noto Sans', arial, sans-serif;
  margin: 0;
}

html {
  background-image: url("./assets/colored-polygons-bg.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
}
