header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .headerText {
    text-align: center;
    color: white;
    font-family: 'Noto Serif', sans-serif;
  }

  > a.back-btn,
  > div.empty-div {
    width: 2.3rem;
    height: 2.3rem;
  }
}


